.uu {
    background-color: white;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}

a:hover {
    text-decoration-line: underline;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 3s;
}