.row {
    display: flex;
}

.row-a {
    display: flex;
    justify-content: space-around;
}

.row-b {
    display: flex;
    justify-content: space-between;
}

.row-e {
    display: flex;
    justify-content: space-evenly;
}