{% extends "base.htm" %} {% block customers %}
<div class="o-base">
    <div class="o-top">
        <div class="row">
            <span style="color: black;" class="material-symbols-outlined bbb">groups</span>
            <div style="color: black; font-weight: 700;font-size:28px" class="s-item">Customers</div>
        </div>
        <div style="height: 36px;"></div>
        {% for i in data %}
        <div class="row-a">
            <div class="ooo">
                <div class="row" style="margin-left: 12px;">
                    <div>
                        <div class="row">
                            <div class="o-hed">id :</div>
                            <div class="o-sub" style="padding-top: 10px;padding-left:4px;">{{ i[0] }}</div>
                        </div>
                        <div class="row">
                            <div class="o-hed">email :</div>
                            <div class="o-sub" style="padding-top: 10px;padding-left:4px;">{{ i[1] }}</div>
                        </div>
                    </div>
                    <div class="o-div" style="height: 100px;"></div>
                    <div>
                        <div class="o-hed" style="padding-left: 10px;">address :</div>
                        <div class="o-sub" style="padding: 10px;">{{ i[3] }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}