<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="/static/css/error.css">
</head>

<body>
    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="ERROR">
                ERROR
            </h2>
            <h4 data-text="Opps! Something went wrong.">
                {{e}}
            </h4>
            <div class="btns">
                <a href="/{{aaa}}">Return Home</a>
                <a href=".">Try Again</a>
            </div>
        </div>
    </div>
</body>

</html>