<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/s_signup.css">
    <link rel="stylesheet" href="/static/css/khukari.css">
</head>

<body>


    <div style="height: 20vh;"></div>
    <div class="row-a">
        <div class="row">
            <img class="side-img" src="/static/login.jpg" alt="">
            <div class="center">
                <h1>Sign Up</h1>
                <form method="post">
                    <div class="txt_field">
                        <input name="store" type="text" required>
                        <span></span>
                        <label>Store Name</label>
                    </div>
                    <div class="txt_field">
                        <input name="password" type="password" minlength="8" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    <input type="submit" value="Sign Up">
                    <div class="login_link">
                        Already have a store? <a href="/login">Log In</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>