<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/s_signup.css">
    <link rel="stylesheet" href="/static/css/khukari.css">
</head>

<body>

    <div style="height: 20vh;"></div>
    <div class="row-a">
        <div class="row">
            <img class="side-img" src="/static/login.jpg" alt="">
            <div class="center">
                <h1>Login</h1>
                <form method="post">
                    <div class="txt_field">
                        <input type="text" name="email" required>
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" name="password" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    <input type="submit" value="Login">
                    <div class="login_link">
                        Don't have an account? <a href="/{{ aaa }}/user/signup">create one</a>
                    </div>
                    <div style="height: 20px;"></div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>