<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/khukari.css">
    <link rel="stylesheet" href="/static/css/store/ss{{qq}}.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>

    <div id="toop">
        <div class="row-a">
            <div class="row" id="bbg">
                <input onclick="window.location.href = '/{{aaa}}'" type="button" id="pre" class="material-symbols-outlined" value="close">
                <form action="" method="post">
                    <div class="row">
                        <input type="text" name="name" placeholder=" Search ..." id="inp">
                        <input type="submit" id="sub" class="material-symbols-outlined" value="arrow_forward">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="height: 70px;"></div>

    {% for i in data %}
    <div class="row-a">
        <div class="pp" onclick="window.location.href = '/{{aaa}}/product/{{ i[0] }}';">
            <div class="row-b">
                <div class="row">
                    <img class="p-saam" src="{{ i[3] }}" alt="">
                    <div style="width:20px"></div>
                    <div>
                        <div class="p-naam">{{ i[2] }}</div>
                        <div class="p-daam">Price: ₹ {{ i[4] }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div style="height: 100px;"></div>

</body>

</html>